form{
    font-style: italic;
    height: 520px;
    width: 50%;
    top: 200px;
    left: 30px;
    position: absolute;
    margin-left: 25%;
    margin-bottom:5%;
    padding: 2%;
    background-color: rgb(218, 218, 218);
    border-radius: 3%;

  }
  a{

    background-color: rgb(3, 80, 54);
    width: 100%;
    height: 300px;
  }